.mobile-text {
	display: none;
	font-size: 1rem;
	margin-top: 5rem;
}

.mobile-text a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--blue1-color);
}

.mobile-text a:hover {
	cursor: pointer;
}


@media (max-width:768px) {
	.mobile-text {
		display: block;
		margin-bottom: 3rem;
	}
}

@media (max-width:480px) {
	.mobile-text {
		display: block;
	}
}

