.terms {
	font-size: 12px;
	padding: 0 42px;
	font-weight: 800;
	color: var(--gray3-color);
	margin-bottom: 2.0rem;
}

.terms span {
	font-size: 12px;
	color: var(--blue1-color);
	transition: .4s;
}

.terms:hover {
	cursor: pointer;
	transform: scale(1.01);
	transition: .2s;
}

.terms:hover .color-terms {
	opacity: 80%;
	transition: .4s;
}